{% extends 'account/manage_profile.html' %}
{% block child_stylesheets %}
{% load static %}
<link rel="stylesheet" href="{% static 'sidebar/skills/skills.css' %}">
{% endblock %}
{% block manage_content %}
<section id="skills_and_subskills">
    {% block add_skills %}
    <section id="add_skills">
        <h3>Add Skills</h3>
        <form method="POST"> {% csrf_token %} 
            <label for="id_skill_name">Skill Name <span style="color:red">*</span> </label>
            {{form.skill_name}}
            <label for="id_order">Order</label>
            {{form.order}}
            <div id="skill_status" style="display: none;">
                {{form.skill_status}}
            </div>
            <button type="submit" class="btn btn-save">Save Skill</button>
        </form>

          <section id="show_skills">

             <table class="skill_list">
                 <thead>

                
                <tr class="ui_settings">
                    <td class="border-0 showselectbox">
                        show <select id="skill_page_size">
                        
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                          
                           
                        </select>
                        
                    </td>
                    <td id="searchskillscell" class="border-0">
                        <input style="outline: none; padding: 5px;" type="search" id="searchskills" class="searchskills" placeholder="Search Skills">
                    </td>
                </tr>
                 <tr id="header_info">
                     <th># </th>
                     <th>Name</th>
                     <th>Status</th>
                     <th>Order</th>
                     <th>Action </th>
                 </tr>
                </thead>
                <tbody id="skills_data">
              
                </tbody>
               
             </table>
             <div id="entries_and_page" style="display: flex; justify-content: space-between; padding: 1rem">
                <div id="entries">
                    <span id="s_p_info">
                        Current Page: <span id="s_current_page"></span> of <span id="s_total_pages"></span> Total Pages
                        <!-- Nofse: Number of skill entries -->
                    </span>
                </div>
                <div id="pagination_buttons">
                    <button id="s_prevBtn" class="btn" onclick="skillPrevious()" >Previous</button>
                    <button id="s_firstBtn" class="btn btn-primary">1</button>
                    <button id="s_nextBtn" class="btn" onclick="skillNext()">Next</button>
                </div>
            </div>
          </section>
        </section>
        {% endblock %}
        {% block add_sub_skills %}
        <section id="add_sub_skills">
            <h3>Add Sub Skills</h3>
            <form method="POST"> {% csrf_token %}
                <label for="id_skills">Skills <span style="color:red">*</span></label>
                {{form2.skills}}
                <label for="id_sub_skill_name">Sub Skill Name <span style="color:red">*</span></label>
                {{form2.sub_skill_name}}
                <label for="id_sub_skill_level">Sub Skill Level<span style="color:red">*</span></label>
                {{form2.sub_skill_level}}
                <label for="id_sub_order">Sub Order <span style="color:red">*</span></label>
                {{form2.sub_order}}
                <div id="sub_skill_status" style="display: none;">
                    {{form2.sub_skill_status}}

                </div>
                <button type="submit" class="btn btn-save">Save</button>
            </form>
                <table class="skill_list">
                    <thead>
                        
                        
                        <tr class="ui_settings">
                            <td class="border-0 showselectbox">
                                show <select id="subskill_page_size">
                                  
                                    <option >10</option>
                                    <option >25</option>
                                    <option >50</option>
                                    <option >100</option>
                                </select>
                                
                            </td>
                    <td class="border-0" id="searchsubskillscell">
                        <input  style="outline: none; padding: 5px;" type="search" id="search_sub_skills" class="searchskills" placeholder="Search Skills">
                    </td>
                </tr>
                <tr id="header_info">
                    <th># </th>
                    <th>Sub Skill</th>
                    <th>Skill</th>
                    <th>Sub Skill Level</th>
                     <th>Status </th>
                     <th>Order </th>
                     <th>Action </th>
                    </tr>
                </thead>
                <tbody id="sub_skills_data">
                   
                </tbody>
            </table>
            <div id="entries_and_page" style="display: flex; justify-content: space-between; padding: 1rem">
                <div id="entries">
                    <!-- subskill_pagination info -->
                    <span id="subs_p_info"> 
                        <!-- n_ofsube: number of sub skills entries -->
                        Current Page: <span id="sub_current_page"></span> of <span id="sub_total_pages"></span> Total Pages
                    </span>
                </div>
                <div id="pagination_buttons">
                    <button id="subskill_prevBtn" class="btn" onclick="subSkillPrevious()" >Previous</button>
                    <button id="subskill_firstBtn" class="btn btn-primary">1</button>
                    <button id="subskill_nextBtn" class="btn" onclick="subSkillNext()">Next</button>
                </div>
            </div>
        </section>
        {% endblock %}
        
    
    </section>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'sidebar/skills/accountskills.js' %}"></script>
{% endblock %}