// Utility classes
.btn-save {
  background: teal;
  color: white;
}
.btn-inactive {
  background: darkred;
  color: white;
}
.btn-active {
  background: steelblue;
  color: white;
}
#skills_and_subskills {
  display: flex;

  #add_skills,
  #add_sub_skills {
    padding: 1vh 2vw;
    background: white;
    margin: 1vw;

    input,
    select {
      padding: 10px;
      margin: 10px;
      width: 100%;
    }
    .ui_settings {
      .showselectbox {
        select {
          padding: 5px 50px;
        }
      }
    }
    .searchskills {
      width: 20vh;
    }
    .skill_list {
      th,
      td {
        border: 1px solid black;
        padding: 10px;
      }
    }
  }
}
