#manage_profile {
  grid-template-columns: 20% 80%;
}

// Common tags settings
th,
td {
  border: 1px solid black;
  padding: 10px;
}
// utility classes
.btn-save {
  background: teal;
  color: white;
}
.btn-inactive {
  background: darkred;
  color: white;
}

#skills_and_subskills {
  width: 100%;
  form {
    display: flex;

    input[type="text"],
    input[type="number"],
    select {
      width: 80%;
      padding: 10px;
      margin: 1vh 0;
      border: 3px solid #dee7e7;
      outline: none;
    }
    label,
    select {
      display: block;
    }
    #add_skills,
    #add_sub_skills {
      background: white;
      padding: 1rem;
    }
    #add_skills,
    #add_sub_skills {
      margin: 0 1rem;
    }
    #add_skills {
      width: 50%;
      #show_skills {
        text-align: center;
        .skill_list {
          width: 100%;
          margin: 5% 0;
          #ui_settings {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
    #add_sub_skills {
      width: 50%;
    }
  }
}
