{% extends 'index.html' %}
{% block stylesheets %}
{% load static %}
<link rel="stylesheet" href="{% static 'manage_profile/manage_profile.css' %}">

{% endblock %}
{% block content %}
<section id="manage_profile">
    <div id="manage_menu">
        <ul id="manage_items">
            
            <li class="{% if request.path == '/accounts/manage/1/' %}active_item{% endif %}"><a href=""><i class="fas fa-lock m-2"></i><span class="manage_item">My Profile</span></a></li>
            <li><a href=""><i class="fas fa-dollar-sign m-2"></i> <span class="manage_item">Subscription</span> </a></li>
            <li><a href=""><i class="fas fa-palette m-2"></i> <span class="manage_item">Layouts</span> </a></li>
            <li><a href=""><i class="fas fa-font m-2"></i> <span class="manage_item">Fonts</span> </a></li>
            <li><a href=""><i class="fas fa-cog m-2"></i> <span class="manage_item">Services</span> </a></li>
            <li><a href=""><i class="fas fa-cogs m-2"></i> <span class="manage_item">Skills</span> </a></li>
            <li><a href=""><i class="fas fa-book m-2"></i> <span class="manage_item">Experience</span> </a></li>
            <li><a href=""><i class="far fa-comment m-2"></i> <span class="manage_item">Testimonial</span> </a></li>
            <li><a href=""><i class="fas fa-address-card m-2"></i> <span class="manage_item">Portfolio</span> </a></li>
            <li><a href=""><i class="fas fa-blog m-2"></i> <span class="manage_item">Blog</span> </a></li>
            <li><a href=""><i class="fas fa-calendar-check m-2"></i> <span class="manage_item">Appointments</span> </a></li>
            <li><a href=""><i class="far fa-envelope m-2"></i> <span class="manage_item">Contact Message</span> </a></li>
            <li><a href=""><i class="fas fa-upload m-2"></i> <span class="manage_item">Upload CV</span> </a></li>
            
            <li><a href=""> <i class="fas fa-unlock m-2"></i><span class="manage_item">Change Password</span>  </a></li>
        </ul>
    </div>
    <section id="user_avatar">
        <img src="{{user.change_avatar.url}}" alt="">
        <span class="d-block">{{user}}</span>
        <span class="d-block">Joined <span class="dateofjoin"></span></span>
        <button class="btn btn-danger">Payment Status: <i class="fas fa-exclamation-circle"></i></button>
        
    </section>
    <section id="info">
        <div class="updateinfo_social">
            <div class="updateinfo p-2  border-top border-3 border-primary">
                <i class="fas fa-pencil-alt"></i> Update Info
            </div>
            <div class="color_and_fonts p-2">
                <i class="fas fa-adjust"></i> Colors & fonts
            </div>
            <div class="contact_settings p-2">
                <i class="fas fa-phone fa-flip-horizontal"></i> Contact Settings
            </div>
            <div class="social_settings p-2">
                <i class="fas fa-cog"></i> Social Settings
            </div>
        </div>
        <div class="info_details">
            <form method="POST"> {% csrf_token %}
            <div class="update_info_details">
                <div class="update_info_detail_1">
                        {{form.as_p}}
                        {{form.media | safe}}
                   

                </div>
                <div class="update_info_detail_2">
                    <div class="preferences">
                        <h2>Preferences</h2>
                        <ul id="p-items">
                            <li class="p_item">Profile
                                 <div class="onoroff">
                                <input type="checkbox" class="checkbox">
                                <div class="button" id="profile_boolean_btn">
                                    <div class="first">
                                        <span class="status">Off</span>
                                    </div>
                                    <div class="second">
                                        
                                    </div>
                                </div>
                            </div></li>
                            <li class="p_item">Follow/Unfollow
                                <div class="onoroff">
                                    <input type="checkbox" class="checkbox">
                                    <div class="button" id="follow_unfollow_boolean_btn">
                                        <div class="first">
                                            <span class="status">Off</span>
                                        </div>
                                        <div class="second">
                                            
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="p_item">Contact
                                <div class="onoroff">
                                    <input type="checkbox" class="checkbox">
                                    <div class="button" id="contact_boolean_btn">
                                        <div class="first">
                                            <span class="status">Off</span>
                                        </div>
                                        <div class="second">
                                            
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="p_item">Appointment
                                <div class="onoroff">
                                    <input type="checkbox" class="checkbox">
                                    <div class="button" id="appointment_boolean_btn">
                                        <div class="first">
                                            <span class="status">Off</span>
                                        </div>
                                        <div class="second">
                                            
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="p_item">Skill

                                <div class="onoroff">
                                    <input type="checkbox" class="checkbox">
                                    <div class="button" id="skill_boolean_btn">
                                        <div class="first">
                                            <span class="status">Off</span>
                                        </div>
                                        <div class="second">
                                            
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="p_item">Service
                                <div class="onoroff">
                                    <input type="checkbox" class="checkbox">
                                    <div class="button" id="service_boolean_btn">
                                        <div class="first">
                                            <span class="status">Off</span>
                                        </div>
                                        <div class="second">
                                            
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="p_item">Testimonial
                                <div class="onoroff">
                                    <input type="checkbox" class="checkbox">
                                    <div class="button" id="testimonial_boolean_btn">
                                        <div class="first">
                                            <span class="status">Off</span>
                                        </div>
                                        <div class="second">
                                            
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
            
        </div>

    </section>
</section>


{% endblock %}
{% block scripts %}
<script src="{% static 'manage_profile/manageprofile.js' %}"> </script>

{% endblock %}