{% extends 'base.html' %}

{% block head %}
<title> Home - TutorNameS.com </title>
{% block meta_tags %}

{% endblock %}

{% load static %}
<link rel="stylesheet" href="{% static 'scss/style.css' %}" >
{% block stylesheets %}
{% endblock %}
{% endblock %}

{% block content %}
<section id="showcase">

    <div class="container">
        <div class="textandimage">
            <div class="textbox">
                <h1 class="hero-title aos-init aos-animate" data-aos="fade-left" data-aos-delay="400">Using <span class="hero-site">TuTorsNameS.com</span> grow your audience and get more clients.</h1>
    
                <h5 class="hero-title-sub mt-20 aos-init aos-animate" data-aos="fade-left" data-aos-delay="500">Create a page to present who you are and what you do share in just one link.</h5>
    
                <a data-aos="fade-left" data-aos-delay="750" href="https://tutorsnames.com/create-profile" class="btn btn-primary d-inline-block">Get your page now </a>
            </div>
            <div class="imagebox">
                <img src="https://tutorsnames.com/assets/front/images/hero-image.jpg" alt="illustration">
            </div>
        </div>
    </div>
</section>
<section id="layouts_show" class="text-center text-bold">
<div class="container">
    <h2>5 Different layouts for pro users
    </h2>
    `<div class="layouts">
        <div class="layout">
            <img src="https://tutorsnames.com/assets/admin/layouts/style5.png" alt="Layout">
        </div>
        <div class="layout">
            <img src="https://tutorsnames.com/assets/admin/layouts/style4.png" alt="Layout">
        </div>
        <div class="layout">
            <img src="https://tutorsnames.com/assets/admin/layouts/style3.png" alt="Layout">
        </div>
        <div class="layout">
            <img src="https://tutorsnames.com/assets/admin/layouts/style2.png" alt="Layout">
        </div>
        <div class="layout">
            <img src="https://tutorsnames.com/assets/admin/layouts/style1.png" alt="Layout">
        </div>
    </div>
</div>
</section>
<section id="manage_online">
    <div class="container">
        <h2 class="l-heading p-5">The better way to manage and share your online profile
        </h2>
        <div class="manage_show">
            <div class="tutorimg">
                <img src="https://tutorsnames.com/uploads/medium/TuTorSnames1_medium-600x317.png" alt="">
            </div>
            <div class="tutortxt">
                <h2>Tutors
                </h2>
                Sign up to create your page. Highlight your services and subjects which you can teach. Indicate your booking schedules and contact information. This portal is for you. Get that freedom to teach and guide children and interested persons around the world. All courtesy of TUTORSNAMES.com - the dedicated site for tutors and learners.
            </div>
        </div>
        <div class="manage_show">
            <div class="tutortxt">
                <h2>Tutors
                </h2>
                Sign up to create your page. Highlight your services and subjects which you can teach. Indicate your booking schedules and contact information. This portal is for you. Get that freedom to teach and guide children and interested persons around the world. All courtesy of TUTORSNAMES.com - the dedicated site for tutors and learners.
            </div>
            <div class="tutorimg">
                <img src="https://tutorsnames.com/uploads/medium/TutorSnameS_medium-600x334.png" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock %}
<!-- style js for ui javascript -->

{% block scripts %}
{% endblock %}
