{% load static %}
<footer id="main-footer">
    <div class="container">
        <div class="f-logo">
            
            <img src="{% static 'images/tutorsnamesfooterimg.png' %} " alt="TutorNames Footer Logo">
        </div>
        <div class="useful_links">
            <h4>Useful Links</h4>
            <ul>
                <li><a href="">Pricing</a></li>
                <li><a href="">Create Your Page</a></li>
                <li><a href="">Terms and conditions</a></li>
            </ul>
        </div>
        <div class="pages">
            <h4>Pages</h4>
            <ul>
                <li><a href="">Advertise with Us</a></li>
                <li><a href="">Policy</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Lost Password</a></li>
                <li><a href="">Videos - How to</a></li>
            </ul>

        </div>

    </div>
    
</footer>