{% load static %}
<nav id="navbar" class="navbar navbar-light bg-light">
    <div class="container">
        <div class="logo">
            <img src="{% static 'images/Tutorsnameslogo.png' %}" alt="TutorsNamesLogo">
        </div>
        <div class="nav-menu">
            <div class="two-group">
                <div class="group1">
                    <ul>
                        <li><a href="{% url 'homepage' %}">Home</a></li>
                        <li><a href="{% url 'pricing' %}">Pricing</a></li>
                        <li><a href="">Users</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
                <div class="group2">
                    {% if not user.is_authenticated %}
                    <a class='btn border border-primary' href="{% url 'log_in' %}">Log in</a>
                    <a class="btn btn-primary" href="{% url 'signup' %}">Create Profile</a>
                    {% elif user.is_authenticated %}
                    <div id="user_profile">
                        <a class="btn btn-primary" href="{% url 'manage-profile' user.id %}" id="profile_name">Manage Profile
                      
                        <img src="{{user.change_avatar.url}}" alt="User Profile Picture" height="50px", width="50px" style="border-radius: 50%;">

                      
                        
                    </a>
                        <ul id="user_profile_options" class="bg-secondary d-block dont_display" style=" position:relative; margin-top:1%; right: 60%; padding: 1rem;">
                            <div class='d-flex' style="line-height: 0">
                                <img src="{{user.change_avatar.url}}" alt="User Profile Picture" height="50px", width="50px" style="border-radius: 50%;">
                                <div id="user_info" style=" color: white; margin-left: 4%">
                                    <h5>{{user.first_name}} {{user.last_name}}</h5>
                                    <span style="font-size: 0.9rem !important;" class="fw-light fs-6">{{user.email}}</span>

                                </div>
                                </div>
                                <div id="user_options" style="line-height: 1.4;">
                                    <a href="">Change password</a>
                                    <a href="{% url 'log_out' %}">Log Out</a>
                                </div>
   
                               </div>
   
                           
                        </ul>
                        
                    </div>
                       
                    {% endif %} 
                </div>
            </div>
        </div>
    </div>
</nav>