#manage_profile {
  grid-template-columns: 20% 80% !important;
}
// Utitlity class
.active_layout {
  border: 4px solid rgba(40, 167, 69, 0.5);
}
#layouts {
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    min-height: 50vh;
    .layout {
      height: 200px;
      width: 200px;
      background: black;
    }
  }
}

#fonts_and_colors {
  min-height: 30vh;
  input,
  select {
    padding: 1rem;
    width: 100%;
    outline: none;
  }
}
